# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/
.venv/

# Environment Variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Project-specific
# data/documents.txt
